<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arisgo.springcloud.service.user.mapper.RoleMapper">

    <select id="getRole" resultType="com.arisgo.springcloud.service.user.model.Role">
        select role_id roleId,
               role_name roleName,
               remark remark
          from sys_role
         where status = 1
    </select>

</mapper>