<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arisgo.springcloud.service.sky.mapper.UserMapper">

    <select id="getUser" resultType="com.arisgo.springcloud.service.sky.model.User">
        select user_id userId,
               user_name userName,
               password password,
               real_name realName,
               nick_name nickName,
               status status
          from sys_user
         where status = 1
    </select>

</mapper>